@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'Barlow', sans-serif;
    src: local('/Barlow-Regular.ttf'), url('/Barlow-Regular.ttf') format('ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
  }

  html {
    font-family: 'Barlow', serif;
  }
}

body {
  padding: 0;
  line-height: inherit;
}

@layer components {
  .line-after {
    @apply before:absolute before:right-0 before:h-full before:w-[1px] before:bg-slate-400;
  }
}
